<h1> New Game </h1>
<div class ="letters container">
  <% @letters.each do |letter| %>
  <span class="letter"><%= letter %></span>
  <% end %>
</div>

<p>What is the longest word you can find?<p>
<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <input type="text" id="word" name="word">
  <input type="hidden" name="letters" id="letters" value="A B C D E F G H I J">
  <button type="submit">Play</button>
</form>
