/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.letters-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.letter {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-inline : 5px;
  padding: 7px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #2e72ba;
  color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

#word {
  width: 300px;
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid #cccccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 0 4px 4px 0;
}
